* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: 0 auto;
  max-width: 72rem;
}
header {
  height: 2rem;
  background-color: blueviolet;
  color: white;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 2rem;
}

.product-price::after {
  content: "$";
  display: inline-block;
}

.search {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.price-search-area {
  display: flex;
  gap: 0.5rem;
  height: 100%;
}
#search-word {
  width: 49%;
  height: 100%;
}
#search-btn {
  width: 10%;
  height: 100%;
}
#search-price {
  width: 90%;
  height: 100%;
}
.price-search-area {
  width: 49%;
  height: 100%;
}

.CategoryBar {
  display: flex;
  gap: 0.5rem;
}
.CategoryBar h5 {
  font-size: 90%;
}
.filters {
  width: 10%;
  margin-bottom: 0.5rem;
}
.active {
  background-color: blueviolet;
  color: white;
}

.product-items {
  display: flex;
  flex-direction: column;
  border: 1px double, hsl(0, 0%, 87%);
  transition: box-shadow 0.1s;
}
.product-items h3 {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.product-items img {
}
.product-items:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.1rem;
}

.product-price {
  margin: 0.5rem;
  border-radius: 5px;
  width: 2.5rem;
  color: blueviolet;
}
